/* colors of Matrix movie vars like  Vampire Black,  Dark Green, Islamic green, malachite */
:root {
  --vampire-black: #0D0208;
  --dark-green: #003B00;
  --islamic-green: #008F11;
  --malachite: #00FF41;
}

body {
  font-size: 3rem;
  background-color: var(--vampire-black);
  width: 100%;
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  max-width: 800px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100px;
  border: 3px solid var(--islamic-green);
  padding: 10px;
  div {
    background-color: var(--dark-green);
    border: 1px solid var(--islamic-green);
    color: var(--malachite);
    transition: all 0.3s ease-in-out;
    
  }
  div:hover {
    box-shadow: inset 0 0 15px var(--malachite);
    cursor: cell
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#binary-only{
  --size: 180px;
  --space: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr) var(--space) repeat(2, 1fr) var(--space)  repeat(2, 1fr); 
  justify-items: center;
  gap: 1rem;
  width: 90%;
  height: 80%;
  margin: 0 auto;
  padding: 10px 0; 
  div:not(.space) {
    span {
      opacity: 0;
    }
    border: 1px solid var(--islamic-green);
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    height: var(--size);
    width: var(--size);
    text-align: center;
    line-height: var(--size);
    color:var(--malachite);
    transition: all 0.5s ease-in-out;
  }
  div:hover {
    box-shadow: inset 0 0 15px var(--malachite);
    cursor: cell;
    transition: all 0.3s ease-in-out;
    span {
      opacity: 1;
    }
  }
  div.on{
    background-color: var(--malachite);
    color: var(--dark-green);
    box-shadow: 0 0 45px var(--malachite);
  }
  .H81, .H82, .H41, .H42, .H21, .H22, .H11, .H12 {
    column-gap: 1px;
  }
}